.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.canvas {
  width: auto;
  height: auto;
  background-color: #0a192f;  
  overflow: hidden;
}

.header {
  padding-top: 1.5%;
  padding-bottom: 0.5%;
  padding-right: 4%;
  text-align: right;
  background: #0a192f;
}

.background {
  background-color: #0a192f;
}

.center {
  margin: 0 auto;
  width: 70%;
  text-align: left;
  background-color: #0a192f;
  padding: 25px 0;
}

.greeting {
  padding-top: 4%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  margin: auto auto;
  width: 70%;
  height: auto;
  text-align: left;
  background: #0a192f;
}

.BriefIntroduction {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  margin: auto auto;
  width: 70%;
  height: auto;
  background: #0a192f;
  color: antiquewhite;
}

.NameinGreeting {
  font-size:50px;
  color: antiquewhite;
}

.HiMyNameIs {
  color: #2ecc71;
}

.OneLineDescription {
  color: #808080;
}