.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

menu, ol, ul, li {
  list-style: none;
  line-height: 2.5em;
}

.frame {
  height: 1000px;
  width: 100%;
  background: #0a2f13;
}

.canvas {
  height: 100%;
  background-color: #000000;
  overflow: hidden;
}

.header {
  padding-top: 1.5%;
  padding-bottom: 0.5%;
  padding-right: 4%;
  text-align: right;
  height: 10%;
  width: 100%;
  margin: auto;
}

.sidebar {
  float: left;
  width: 10%;
  height: 100%;
  display: block;
  color: antiquewhite;
}

.main {
  position: absolute;
  left: 10%;
  right: 10%;
  width: 80%;
  height: 100%;
}

.background {
  background-color: #0a2f13;
}

.center {
  margin: 0 auto;
  width: 70%;
  text-align: left;
  background-color: #0a2f13;
  padding: 25px 0;
}

.greeting {
  padding-top: 4%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  margin: auto auto;
  position:static;
  width: 80%;
  height: auto;
  text-align: left;
  background: #000000;
}

.BriefIntroduction {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  margin: auto auto;
  width: 50%;
  height: auto;
  background: #000000;
  text-align: center;
  font-family: "Lucida Console";
  text-decoration: underline;
  text-decoration-color: rgb(229, 255, 0);
  color: antiquewhite;
}

.Introduction {
  border:1px solid skyblue;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  color: antiquewhite;
  margin: auto auto;
  width: 80%;
  height: auto;
}

.Experience {
  border:1px solid skyblue;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  color: antiquewhite;
  margin: auto auto;
  width: 80%;
  height: auto;
} 

.ContactMe {
  border:1px solid skyblue;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  color: antiquewhite;
  margin: auto auto;
  width: 80%;
  height: auto;
}

.NameinGreeting {
  text-align: center;
  font-size:50px;
  font-family: "Lucida Console";
  color: rgb(229, 255, 0);
}

.HiMyNameIs {
  color: #2ecc71;
}

.OneLineDescription {
  color: #808080;
}

.img-responsive {
  width: 50%;
  height: 50%;
}

.sample {
  border:1px solid skyblue;
  background: #0a192f;
}